<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">
      Go to login
    </a>
  </li>

  <li>
    <a routerLink="/auth/register">
      Go to register
    </a>
  </li>

  <li>
    <a routerLink="/heroes/list">
      Go to list
    </a>
  </li>

  <li>
    <a routerLink="/heroes/add">
      Go to add
    </a>
  </li>

  <li>
    <a routerLink="/heroes/edit/:id">
      Go to edit
    </a>
  </li>

  <li>
    <a routerLink="/heroes/search">
      Go to search
    </a>
  </li>

  <li>
    <a routerLink="/heroes/:id">
      Go to heroe
    </a>
  </li>
</ul>
